# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
[Aa]ppPackages/
[Bb]uild[Ll]og.*

# ASP.NET / Blazor
wwwroot/lib/
wwwroot/dist/
wwwroot/node_modules/
node_modules/
dist/

# Publish outputs
*.publish/
*.pubxml
*.publishproj

# Resharper / Rider
*.DotSettings.user
.idea/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.nuget.props
*.nuget.targets

# Logs
*.log

# Others
*.dbmdl
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# Sensitive files
appsettings.*.json
secrets.json
