# Visual Studio
.vs/
bin/
obj/

*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
*.dll
*.exe
*.pdb
*.cache
*.db
*.vsidx

# Publish
publish/
wwwroot/downloads/

# Other
*.local.json
*.pubxml.user

# Build outputs
Telegram_Web/obj/
Telegram_Web/bin/


