@page "/reports"
@using Microsoft.AspNetCore.Components.Web
<div style="position: relative; display: inline-block;">
    <button class="btn btn-info btn-sm">
        
        hello from kimmeng branch 1:51

    </button>

</div>



@code {
    protected override async Task OnInitializedAsync()
    {
        
    
    
    }
}
