@inherits LayoutComponentBase
@inject UserStateService UserState
@inject NavigationManager Navigation
@inject ProtectedLocalStorage localStorage
@inject AuthenticationStateProvider AuthStateProvider

@if (!isLoaded)
{
    <p>Loading...</p>
}
else if (isAuthenticated)
{
    <div class="vertical-nav">
        <button title="Menu" class="nav-btn">
            <Icon Name="IconName.Telegram"></Icon>
        </button>

        <NavLink href="/Dashboard" class="nav-btn" title="Dashboard">
            <i class="bi bi-speedometer2"></i>
        </NavLink>

        <NavLink href="/Inbox" class="nav-btn" title="Inbox">
            <i class="bi bi-inbox"></i>
        </NavLink>

      @*   <NavLink href="/reports" class="nav-btn" title="Reports">
            <i class="bi bi-bar-chart"></i>
        </NavLink> *@
        <NavLink href="/emp_monitoring" class="nav-btn" title="Emp Monitor">
            <i class="bi bi-people"></i>
        </NavLink>






        <div class="nav-spacer"></div>
        <NavLink href="/" class="nav-btn" title="Profile" Match="NavLinkMatch.All">
            <i class="bi bi-person-circle"></i>
        </NavLink>
       
        <button title="Notifications" class="nav-btn">
            <i class="bi bi-bell"></i>
        </button>
        <button title="Help" class="nav-btn">
            <i class="bi bi-question-circle"></i>
        </button>
       
    </div>

    <div class="bb-page" style="font-size: 13px; margin-left:50px;">
        <main>
            <div>@Body</div>
        </main>
    </div>
}


@code {
    private bool isLoaded = false;
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        // Get the current authentication state
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        isLoaded = true;

        // Redirect only if unauthenticated
        if (!isAuthenticated)
        {
            Navigation.NavigateTo("/Account/Login", forceLoad: true);
        }
    }
}