@inherits LayoutComponentBase
@inject UserStateService UserState
@inject NavigationManager Navigation
@inject ProtectedLocalStorage localStorage


<div class="bb-page" style="font-size: 13px">

    <Sidebar @ref="sidebar"
             IconName="IconName.Telegram"
             Title="Telegram Application"
             DataProvider="SidebarDataProvider"/>

    <main>
        <div class="top-row px-4 justify-content-between" style="z-index:1000;">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar" />
            <label>@PageName</label>
            
            
            <label>EmpID: </label>
        </div>



        <article>
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>



@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;
    string PageName = "";

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
        {
            navItems = GetNavItems();            
        }
        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},           
            new NavItem { Id = "2", Href = "/Chat", IconName = IconName.Person, Text = " All Chat"},
        };

        return navItems;
    }
    private void ToggleSidebar() => sidebar.ToggleSidebar();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Collapse the sidebar on first render
            sidebar?.ToggleSidebar();
            StateHasChanged();
        }
    }
    protected override void OnParametersSet()
    {
        var currentPath = Navigation.ToBaseRelativePath(Navigation.Uri);

        var currentItem = navItems?.FirstOrDefault(i =>
            i.Href.TrimStart('/') == currentPath.TrimStart('/'));

        if (currentItem != null)
        {
            PageName = currentItem.Text;
        }
    }
}

